# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [20]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [8]:
cars1.dropna(axis=1, inplace=True)

### Step 5. What is the number of observations in each dataset?

In [10]:
print(cars1.shape[0])
print(cars2.shape[0])

198
200

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [19]:
cars = cars1.merge(cars2, how='outer') #concat
cars.head()

(200, 9)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [22]:
owners = np.random.randint(15000, 73001, cars.shape[0])
owners

array([38165, 32426, 34614, 26913, 27299, 56580, 56469, 47655, 50408,
       29973, 56991, 46827, 72377, 42984, 54272, 51437, 72230, 48032,
       40813, 18225, 47621, 31484, 43467, 31567, 35616, 35396, 16011,
       47534, 19360, 30781, 53611, 47701, 17003, 42826, 48373, 70630,
       15978, 18726, 37972, 61785, 43906, 39249, 31395, 29727, 23420,
       45453, 47390, 60562, 47020, 50915, 17771, 51788, 60182, 22018,
       23555, 38938, 25896, 27468, 59781, 52537, 19965, 58548, 48143,
       59946, 68719, 65909, 50194, 60326, 55408, 33359, 24345, 55798,
       55622, 37788, 27041, 25298, 24075, 65723, 66745, 15858, 70036,
       70729, 38585, 21358, 60122, 15617, 36791, 70664, 48514, 66428,
       19440, 69550, 56391, 30172, 17212, 21320, 40551, 34615, 21733,
       30302, 49903, 40149, 67842, 39810, 18461, 51846, 40115, 24071,
       72577, 59993, 48373, 22970, 55663, 21278, 34208, 55999, 19905,
       22214, 19457, 51625, 32503, 60130, 69764, 23162, 70714, 16963,
       16098, 48279, 65203, 37668, 44344, 45121, 25856, 48286, 64867,
       59934, 31455, 52463, 21053, 39062, 63586, 63129, 53699, 33054,
       47663, 35940, 39010, 65924, 38618, 41742, 62909, 15124, 20474,
       64643, 71072, 21537, 57498, 63301, 50779, 59012, 70244, 26174,
       27631, 21158, 16847, 50763, 57822, 61218, 32994, 26313, 22033,
       33626, 72738, 49775, 57639, 54063, 56914, 67051, 52392, 67754,
       16875, 72670, 43158, 58463, 24858, 23821, 33628, 28622, 59351,
       67518, 20876, 69406, 28006, 35578, 56978, 16435, 71747, 27740,
       24114, 15336, 42287, 53195, 44885, 22084, 31216, 69494, 60895,
       62700, 22797, 60648, 68147, 56506, 72560, 33247, 50482, 26181,
       24621, 43651, 39895, 16831, 68496, 70463, 53341, 27275, 60496,
       50586, 55259, 40702, 33949, 25871, 36822, 72248, 67081, 50188,
       43305, 52820, 53123, 56388, 45295, 23789, 43127, 59783, 38564,
       39944, 59234, 64184, 18434, 35485, 62386, 61346, 53320, 61093,
       32772, 55651, 51174, 28226, 52486, 51450, 60645, 65160, 42697,
       47184, 41726, 60153, 55274, 72914, 27700, 27114, 50063, 57105,
       20377, 60947, 43519, 20531, 22106, 37656, 56423, 27191, 29562,
       38859, 30969, 22762, 25484, 69525, 36697, 70318, 26947, 56821,
       72027, 16739, 31137, 51048, 32675, 44974, 34734, 26225, 17549,
       41494, 37296, 40833, 43970, 33620, 68742, 69162, 41615, 19117,
       25620, 70406, 19597, 43097, 20936, 61560, 26311, 45973, 30829,
       29622, 45292, 19208, 20464, 19106, 61941, 15207, 16675, 19262,
       30038, 35872, 41044, 38857, 40155, 43569, 47189, 39158, 67341,
       45123, 61322, 22558, 59761, 40897, 57473, 34404, 71390, 51075,
       41798, 31170, 63527, 59953, 15596, 24770, 42884, 70280, 21797,
       65325, 37047, 41296, 62036, 67517, 70276, 26851, 59065, 63669,
       58292, 15575, 38836, 62360, 67735, 65526, 62820, 55582, 63683,
       16995, 30023, 69892, 64895, 20257, 26040, 43606, 68318, 34145,
       46069, 26215, 21585, 30209, 27013, 50146, 17024, 71605, 27380,
       27877, 21546, 59537, 72536, 33987, 25326, 23455, 58216, 49354,
       69836, 53979])

### Step 8. Add the column owners to cars

In [25]:
cars['owners'] = owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,23455
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,58216
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,49354
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,69836
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,53979